absl-py==2.3.1
accelerate==1.5.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiolimiter==1.2.1
aiosignal==1.4.0
airportsdata==20250706
alibabacloud-credentials==1.0.2
alibabacloud-credentials-api==1.0.0
alibabacloud-endpoint-util==0.0.4
alibabacloud-gateway-spi==0.0.3
alibabacloud-iqs20241111==1.3.1
alibabacloud-openapi-util==0.2.2
alibabacloud-tea==0.4.3
alibabacloud-tea-openapi==0.4.1
alibabacloud-tea-util==0.3.13
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
APScheduler==3.11.0
arxiv==2.2.0
asn1crypto==1.5.1
astor==0.8.1
astroid==3.3.11
asttokens==3.0.0
attrdict==2.0.1
attrs==25.3.0
audioread==3.0.1
Authlib==1.6.1
auto_gptq==0.7.1
autoawq==0.2.9
av==15.0.0
beautifulsoup4==4.13.4
binpacking==1.5.2
bitsandbytes==0.46.1
black==25.1.0
blake3==1.0.5
bleach==6.2.0
blessed==1.21.0
boto3==1.40.8
botocore==1.40.8
cachetools==5.5.2
cattrs==25.1.1
cbor2==5.7.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
clarabel==0.11.1
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
compressed-tensors==0.9.3
contourpy==1.3.2
cpm-kernels==1.0.11
crcmod==1.7
cryptography==44.0.3
cupy-cuda12x==13.4.1
cvxpy==1.7.1
cycler==0.12.1
cyclopts==3.22.5
dacite==1.9.2
darabonba-core==1.0.3
datasets==3.2.0
debugpy==1.8.15
decorator==5.2.1
decord==0.6.0
deepspeed==0.16.0
Deprecated==1.2.18
depyf==0.18.0
diffusers==0.34.0
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.7.0
docstring-to-markdown==0.17
docstring_parser==0.16
docutils==0.22
dotenv==0.9.9
editdistance==0.8.1
einops==0.8.1
email_validator==2.2.0
et_xmlfile==2.0.0
evalscope==0.17.0
evaluate==0.4.4
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.116.0
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.1
fastrlock==0.8.3
feedparser==6.0.11
ffmpy==0.6.0
filelock==3.18.0
finnhub-python==2.4.24
fire==0.7.0
flash-attn==2.7.1.post4
fonttools==4.58.5
frozenlist==1.7.0
fsspec==2024.9.0
funasr==1.2.6
func-timeout==4.3.5
future==1.0.0
fuzzywuzzy==0.18.0
gekko==1.3.0
genson==1.3.0
gguf==0.17.1
google-auth==2.40.3
google-genai==1.24.0
googleapis-common-protos==1.70.0
gpustat==1.1.1
gradio==5.31.0
gradio_client==1.10.1
greenlet==3.2.3
groovy==0.1.2
grpcio==1.73.1
h11==0.16.0
h5py==3.14.0
hf-xet==1.1.5
hf_transfer==0.1.9
hjson==3.1.0
html2text==2025.4.15
httpcore==1.0.9
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.1
huggingface-hub==0.34.3
human-eval==1.0.3
hydra-core==1.3.2
idna==3.10
imageio==2.37.0
immutabledict==4.2.1
importlib_metadata==8.0.0
iniconfig==2.1.0
interegular==0.3.3
ipdb==0.13.13
ipykernel==6.29.5
ipython==9.4.0
ipython_pygments_lexers==1.1.1
iso3166==2.1.1
isodate==0.7.2
isort==6.0.1
jaconv==0.4.0
jamo==0.4.1
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiter==0.10.0
jmespath==0.10.0
joblib==1.5.1
json5==0.12.0
json_repair==0.47.6
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-path==0.3.4
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kaggle==1.7.4.5
kaldiio==2.18.1
kiwisolver==1.4.8
langchain==0.3.27
langchain-core==0.3.72
langchain-openai==0.3.28
langchain-text-splitters==0.3.9
langdetect==1.0.9
langgraph==0.5.4
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.5.2
langgraph-sdk==0.1.74
langid==1.1.6
langsmith==0.4.8
lark==1.2.2
latex2sympy==1.0.3
latex2sympy2==1.9.1
latex2sympy2_extended==1.10.2
lazy-object-proxy==1.11.0
lazy_loader==0.4
Levenshtein==0.27.1
librosa==0.11.0
lightning-utilities==0.14.3
-e git+https://github.com/hiyouga/LLaMA-Factory.git@f00742b078599a7e5295f17c02acfef1b525492d#egg=llamafactory
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.11
lmdeploy==0.9.1
lsprotocol==2023.0.1
lxml==6.0.0
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
math-verify==0.8.0
matplotlib==3.10.3
matplotlib-inline==0.1.7
mccabe==0.7.0
mcp==1.13.0
mdurl==0.1.2
mistral_common==1.8.4
mmengine-lite==0.10.7
modelscope @ file:///tmp/modelscope
more-itertools==10.7.0
mpmath==1.3.0
ms-opencompass==0.1.6
ms-swift @ file:///tmp/ms-swift
ms-vlmeval==0.0.18
msgpack==1.1.1
msgspec==0.19.0
multidict==6.6.3
multiprocess==0.70.16
mypy_extensions==1.1.0
nest-asyncio==1.6.0
networkx==3.5
ninja==1.11.1.4
nltk==3.9.1
numba==0.61.2
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.575.51
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
omegaconf==2.3.0
openai==1.100.2
openai-harmony==0.0.4
openai-whisper==20250625
openapi-core==0.19.5
openapi-pydantic==0.5.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
OpenCC==1.1.9
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-semantic-conventions-ai==0.4.10
optimum==1.26.1
orjson==3.10.18
ormsgpack==1.10.0
osqp==1.0.4
oss2==2.19.1
outlines==0.1.11
outlines_core==0.1.26
packaging==25.0
pandas==2.3.0
parse==1.20.2
parso==0.8.4
partial-json-parser==0.2.1.1.post6
pathable==0.4.4
pathspec==0.12.1
pdfminer.six==20250506
pdfplumber==0.11.7
peft==0.14.0
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.8
pluggy==1.6.0
ply==3.11
pooch==1.8.2
portalocker==3.2.0
prettytable==3.16.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==4.25.8
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.10.6
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.2
PyJWT==2.10.1
pylint==3.3.7
PyMuPDF==1.26.3
pynndescent==0.5.13
pynvml==12.0.0
pyOpenSSL==25.1.0
pyparsing==3.2.3
pypdf==6.0.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyperclip==1.9.0
pypinyin==0.54.0
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-Levenshtein==0.27.1
python-lsp-jsonrpc==1.1.2
python-multipart==0.0.20
python-slugify==8.0.4
pytorch-wpe==0.0.1
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.0.0
qwen-omni-utils==0.0.8
qwen-vl-utils==0.0.11
rank-bm25==0.2.2
RapidFuzz==3.13.0
ray==2.48.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==14.0.0
rich-rst==1.3.1
rich-toolkit==0.14.8
rignore==0.5.1
rouge==1.0.1
rouge-chinese==1.0.3
rouge-score==0.1.2
rpds-py==0.26.0
rsa==4.9.1
ruff==0.12.2
s3transfer==0.13.1
sacrebleu==2.5.1
safehttpx==0.1.6
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.16.0
scs==3.2.7.post2
seaborn==0.13.2
semantic-version==2.10.0
sentence-transformers==5.0.0
sentencepiece==0.2.0
sentry-sdk==2.32.0
serpapi==0.1.5
setproctitle==1.3.6
sglang==0.4.10.post2
sgmllib3k==1.0.0
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.2
simplejson==3.20.1
six==1.17.0
sniffio==1.3.1
snowflake==1.7.0
snowflake-connector-python==3.16.0
snowflake._legacy==1.0.1
snowflake.core==1.7.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.7
soxr==0.5.0.post1
SQLAlchemy==2.0.41
sse-starlette==2.4.1
stack-data==0.6.3
starlette==0.46.2
stockfish==3.28.0
sty==1.0.6
sympy==1.13.1
tabulate==0.9.0
tavily-python==0.7.11
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
termcolor==3.1.0
text-unidecode==1.3
threadpoolctl==3.6.0
tiktoken==0.9.0
timeout-decorator==0.5.0
timm==1.0.16
tokenizers==0.21.1
tomlkit==0.13.3
torch==2.6.0
torch-complex==0.4.4
torchaudio==2.6.0
torchmetrics==1.7.4
torchvision==0.21.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.52.4
transformers-stream-generator==0.0.5
triton==3.2.0
trl==0.9.6
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tyro==0.8.14
tzdata==2025.2
tzlocal==5.3.1
ujson==5.10.0
umap-learn==0.5.9.post2
urllib3==2.5.0
uvicorn==0.35.0
uvloop==0.21.0
validators==0.35.0
vllm==0.8.5
watchfiles==1.1.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.1
word2number==1.1
wrapt==1.17.2
xformers==0.0.29.post2
xgrammar==0.1.18
xlsxwriter==3.2.5
xtuner==0.1.11
xxhash==3.5.0
yapf==0.43.0
yarl==1.20.1
yt-dlp==2025.8.27
zipp==3.23.0
zstandard==0.23.0
